<nb-card>
    <nb-card-header>
      <div class="d-flex align-items-center">
        <button nbTooltip="Back"  nbButton ghost (click)="back()"> <nb-icon icon="arrow-back-outline"  style="color: white;">arrow-back-outline</nb-icon> </button>
        {{title}}
      </div>
      
    </nb-card-header>
    <nb-card-body>
      <div class="form-group row align-items-center">
          <label class="label col-sm-3"> Classroom</label>
          <div class="col-sm-9">
              <nb-select [(ngModel)]="selectedClassroom" >
                <nb-option *ngFor="let value of classNameList" [value]="value"> {{value|titleCase}} </nb-option>
              </nb-select>
          </div>
      </div>
      <div class="form-group row align-items-center">
          <label class="label col-sm-3"> Parent</label>
          <div class="col-sm-9">
              <ngx-user-select [users]="parents" [title]="'Select Parent'" [(ngModel)]="selectedParent" (ngModelChange)="onParentChange($event)" [disabled]="isEditmode"></ngx-user-select>
          </div>
      </div>
      <ng-container *ngIf="isParentTeacherSelected">
        <div class="row">
          <div class="col-sm-3">
            <label> Preset Type</label>
          </div>
          <div class="col-sm-9">
            <nb-select [selected]="selectedPresetType" (selectedChange) ="onPresetTypeChange($event)" style="min-width: 214px;">
              <nb-option [value]="ToddlerType">Toddler</nb-option>
              <nb-option [value]="KindergartenType">Kindergarten</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-3">
            <label>Date</label>
          </div>
          <div class="col-sm-9">
            <input nbInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="selectedDate" [min]="min" [max]="max" >        
            <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
          </div>        
        </div>
        
  
        <div class="d-flex flex-wrap align-items-center mt-4">
            <ng-container *ngFor="let slot of slots;">
              <ngx-preset-slot-item [start]="slot.start" [end]="slot.end" [confirmed]="slot.booked" (confirmClick)="onConfirm($event)"></ngx-preset-slot-item>    
            </ng-container>
            
        </div>
      </ng-container>
      
        
    </nb-card-body>
</nb-card>

