nb-stepper ::ng-deep .step-content {
    flex:auto;
}
:host ::ng-deep nb-stepper .step-content {
  
    button {
      cursor: pointer;
    }
  }
  
// .form-group.select-control {
//   display: flex; align-items: center; justify-content: space-between;
// }
.form-group.select-control span{
  margin-right: 20px;  
}
.second-step, .third-step, .fourth-step, .fifth-step {
  .form-group.select-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
nb-select.largeWidth{
  width: 100%;  
}
.step-title{
  display: none;
}
@media (max-width: 615px){
  nb-stepper ::ng-deep .header{
    display: none;
  }
  .step-title{
    display: block;
  }
}